*{
  background-image: url(./imagens/escaco.jpg) ;
  background-repeat: no-repeat;
}
 

#cabecalho{
    align-items: center;
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: right;
    color: white;
    padding: 0px 100px;
}