* {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(https://cdn.pixabay.com/animation/2024/07/23/19/52/19-52-56-478_512.gif);
  /*ou https://i.pinimg.com/originals/5f/f1/36/5ff136fc1e10644e45cbde3de06ec77e.gif*/
  background-repeat: no-repeat;
  background-size: cover;
}


#cabecalho {
  align-items: center;
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: space-between;
  color: rgb(107, 96, 96);
  padding: 0px 100px;
}

#cabecalho a {
  text-decoration: none;
  color: rgb(107, 96, 96);
  ;
}

#foto {
  padding: 15px 0px 10px 10px;
  width: 100px;
  height: auto;

}

#pessoa img {
  border-radius: 40%;
}


#pessoa {
  margin: 50px;
  width: 300px;
  height: 160px;
  justify-content: right;
  display: flex;
  color: yellow;
  margin-left: auto;
  align-items: center;
}


header {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-items: center;
  gap: 100px;
}


.foguete {
  width: 60px;
  height: 60px;
  top: 200px;
  position: relative;
  transition: top 0.05s linear, left 0.05s linear;
  z-index: 100;
}



#habilidades {
  padding: 0px;
  color: white;
}

.rodape {
  text-align: center;
  padding: 1.5rem 0;
  color: #b3e0ff;
  margin-top: 4rem;
  font-size: 1rem;
  letter-spacing: 1px;
}


.habilidades {
  background-color: rgb(107, 96, 96);
  width: 46%;
  height: 200px;
  margin: 2%;
  border-radius: 50px;
  padding: 40px 0 0 10px;
  margin-left: auto;

}


#extras {
  align-items: center;
  color: rgb(107, 96, 96);
  text-align: center;
}

#projects {
  background-color: transparent;
}

#Sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#sobremim {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 150px;
  border-radius: 50px;
  padding: 20px 0 0 0px;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#introducao {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

.sistema-solar{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  max-width: 70%;
  display: flex;
}

.orbit-sun {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: radial-gradient(circle, #ffcc00 20%, transparent 21%);
  border-radius: 50%;
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #00ccff;
  border-radius: 50%;
}

.mercurio {
  animation: mercurio 1s linear infinite;
  width: 12px;
  height: 12px;
}

.venus {
  animation: venus 2s linear infinite;
  width: 26px;
  height: 26px;
  background: #ff6699;
}

.terra {
  animation: terra 4s linear infinite;
  width: 26px;
  height: 26px;
  background: #66e0ff;
}

.marte {
  animation: marte 7s linear infinite;
  width: 16px;
  height: 16px;
  background: #8aff66;
}

.jupiter {
  animation: jupiter 21s linear infinite;
  width: 76px;
  height: 76px;
  background: #c41414;
}

.saturno {
  animation: saturno 26s linear infinite;
  width: 62px;
  height: 62px;
  background: #cc5050;
}

.urano {
  animation: urano 30s linear infinite;
  width: 45px;
  height: 45px;
  background: #ffffff;
}

.netuno {
  animation: netuno 50s linear infinite;
  width: 42px;
  height: 42px;
  background: #0454ff;
}

@keyframes mercurio {
  from {
    transform: rotate(0deg) translateX(50px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes venus {
  from {
    transform: rotate(0deg) translateX(80px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

@keyframes terra {
  from {
    transform: rotate(0deg) translateX(115px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(115px) rotate(-360deg);
  }
}

@keyframes marte {
  from {
    transform: rotate(0deg) translateX(140px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}

@keyframes jupiter {
  from {
    transform: rotate(0deg) translateX(160px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(160px) rotate(-360deg);
  }
}

@keyframes saturno {
  from {
    transform: rotate(0deg) translateX(240px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(240px) rotate(-360deg);
  }
}

@keyframes urano {
  from {
    transform: rotate(0deg) translateX(305px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(305px) rotate(-360deg);
  }
}

@keyframes netuno {
  from {
    transform: rotate(0deg) translateX(350px) rotate(-360deg);
  }
  to {
    transform: rotate(360deg) translateX(350px) rotate(-360deg);
  }
}